.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.container .selection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #64646492;
  height: 400px;
  width: 400px;
  border-radius: 8px;
  margin-top: 30px;
  color: white;
  cursor: pointer;
}

.container .selection .icon {
  font-size: 200px;
  color: gold;
}

.containerDisplay {
  overflow-y: scroll;
}
